body {
  margin: 0;
  padding: 0; }

h1 {
  font-family: Arial;
  font-size: 50px; }

p {
  color: aqua; }

.content-container {
  height: 100vh;
  width: 100%;
  background-color: orange; }

.header-container {
  text-align: center; }

.columns {
  height: 50%;
  text-align: center;
  margin: auto; }

#line-graph {
  height: 450px;
  width: 450px; }

.content-container {
  height: 100vh;
  width: 100%; }

.axispath, .axisline {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges; }

.axistext {
  font-family: 'Arial';
  font-size: 13px; }

.tick {
  stroke-dasharray: 1, 2; }

.bar {
  fill: FireBrick; }
